@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d726624.5389023514!2d-86.69909182772754!3d44.65064650000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881e35afe63ce3e3%3A0xc071b4b34aa2c94c!2sAJ&#39;s%20Cleaning%20Services!5e0!3m2!1sen!2sus!4v1708276533034!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
